@import url('https://fonts.googleapis.com/css?family=Limelight');
body{
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    transition: 0.35s ease-in-out;
}
.container{
    width: 98vw;
    height: 100vh;
    padding: 0;
}
.left , .right{
    width: 49vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.card{
    border-radius: 5px;
    border:solid #555555 1px;
    height: 300px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 2px #00000075;
    transition: 0.35s ease-in-out;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 0 14px #00000078;
    transform:scale(1.2);
}
p{
    top: 12%;
    position: relative;
    font-size: 2.5em;
}
.card span{
    top: 10vh;
    position:  relative;
    color: #c1bdbd;
    font-size:  2em;
}
.card p{
        color: white;
    font-family: fantasy;
    font-size: 4em;
}
.title{
    text-align: center;
    font-size:1.5em;
    font-family: 'Limelight', cursive;
    color:#616161;
}