{# Registration form #}

<form action="{% reverse 'portal_registration_phone_verify' %}" method="post">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="phone" name="phone">
    <select name="district">
        {% for choice in districts %}
        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}
    </select>
    <select name="blood_groups">
        {% for choice in blood_groups %}
        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>